Source/.vs/AngularDAL/v16/.suo
Source/.vs/AngularDAL/v16/Server/sqlite3/db.lock
Source/.vs/AngularDAL/v16/Server/sqlite3/storage.ide
Source/.vs/AngularDAL/v16/Server/sqlite3/storage.ide-shm
Source/.vs/AngularDAL/v16/Server/sqlite3/storage.ide-wal
Source/bin/Debug/AngularDAL.dll
Source/bin/Debug/AngularDAL.dll.config
Source/bin/Debug/AngularDAL.pdb
Source/bin/Debug/EntityFramework.dll
Source/bin/Debug/EntityFramework.SqlServer.dll
Source/bin/Debug/EntityFramework.SqlServer.xml
Source/bin/Debug/EntityFramework.xml
Source/obj/Debug/AngularDAL.csproj.CopyComplete
Source/obj/Debug/AngularDAL.csproj.FileListAbsolute.txt
Source/obj/Debug/AngularDAL.csprojAssemblyReference.cache
Source/obj/Debug/AngularDAL.dll
Source/obj/Debug/AngularDAL.pdb
Source/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/packages/EntityFramework.6.4.4/.signature.p7s
Source/packages/EntityFramework.6.4.4/EntityFramework.6.4.4.nupkg
Source/packages/EntityFramework.6.4.4/Icon.png
Source/packages/EntityFramework.6.4.4/build/EntityFramework.DefaultItems.props
Source/packages/EntityFramework.6.4.4/build/EntityFramework.props
Source/packages/EntityFramework.6.4.4/build/EntityFramework.targets
Source/packages/EntityFramework.6.4.4/build/Microsoft.Data.Entity.Build.Tasks.dll
Source/packages/EntityFramework.6.4.4/build/netcoreapp3.0/EntityFramework.props
Source/packages/EntityFramework.6.4.4/build/netcoreapp3.0/EntityFramework.targets
Source/packages/EntityFramework.6.4.4/buildTransitive/EntityFramework.props
Source/packages/EntityFramework.6.4.4/buildTransitive/EntityFramework.targets
Source/packages/EntityFramework.6.4.4/buildTransitive/netcoreapp3.0/EntityFramework.props
Source/packages/EntityFramework.6.4.4/buildTransitive/netcoreapp3.0/EntityFramework.targets
Source/packages/EntityFramework.6.4.4/content/net40/App.config.install.xdt
Source/packages/EntityFramework.6.4.4/content/net40/App.config.transform
Source/packages/EntityFramework.6.4.4/content/net40/Web.config.install.xdt
Source/packages/EntityFramework.6.4.4/content/net40/Web.config.transform
Source/packages/EntityFramework.6.4.4/lib/net40/EntityFramework.dll
Source/packages/EntityFramework.6.4.4/lib/net40/EntityFramework.SqlServer.dll
Source/packages/EntityFramework.6.4.4/lib/net40/EntityFramework.SqlServer.xml
Source/packages/EntityFramework.6.4.4/lib/net40/EntityFramework.xml
Source/packages/EntityFramework.6.4.4/lib/net45/EntityFramework.dll
Source/packages/EntityFramework.6.4.4/lib/net45/EntityFramework.SqlServer.dll
Source/packages/EntityFramework.6.4.4/lib/net45/EntityFramework.SqlServer.xml
Source/packages/EntityFramework.6.4.4/lib/net45/EntityFramework.xml
Source/packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.dll
Source/packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.SqlServer.dll
Source/packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.SqlServer.xml
Source/packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.xml
Source/packages/EntityFramework.6.4.4/tools/about_EntityFramework6.help.txt
Source/packages/EntityFramework.6.4.4/tools/EntityFramework6.PS2.psd1
Source/packages/EntityFramework.6.4.4/tools/EntityFramework6.PS2.psm1
Source/packages/EntityFramework.6.4.4/tools/EntityFramework6.psd1
Source/packages/EntityFramework.6.4.4/tools/EntityFramework6.psm1
Source/packages/EntityFramework.6.4.4/tools/init.ps1
Source/packages/EntityFramework.6.4.4/tools/install.ps1
Source/packages/EntityFramework.6.4.4/tools/net40/any/ef6.exe
Source/packages/EntityFramework.6.4.4/tools/net40/any/ef6.pdb
Source/packages/EntityFramework.6.4.4/tools/net40/win-x86/ef6.exe
Source/packages/EntityFramework.6.4.4/tools/net40/win-x86/ef6.pdb
Source/packages/EntityFramework.6.4.4/tools/net45/any/ef6.exe
Source/packages/EntityFramework.6.4.4/tools/net45/any/ef6.pdb
Source/packages/EntityFramework.6.4.4/tools/net45/win-x86/ef6.exe
Source/packages/EntityFramework.6.4.4/tools/net45/win-x86/ef6.pdb
Source/packages/EntityFramework.6.4.4/tools/netcoreapp3.0/any/ef6.dll
Source/packages/EntityFramework.6.4.4/tools/netcoreapp3.0/any/ef6.pdb
Source/packages/EntityFramework.6.4.4/tools/netcoreapp3.0/any/ef6.runtimeconfig.json
